@font-face {
	font-family: 'Space Mono Bold';
	src: url('../font/SpaceMono-Bold.woff2') format('woff2'),
			url('../font/SpaceMono-Bold.woff') format('woff'),
			url('../font/SpaceMono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Space Mono Bold Italic';
	src: url('../font/SpaceMono-BoldItalic.woff2') format('woff2'),
			url('../font/SpaceMono-BoldItalic.woff') format('woff'),
			url('../font/SpaceMono-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Space Mono Italic';
	src: url('../font/SpaceMono-Italic.woff2') format('woff2'),
			url('../font/SpaceMono-Italic.woff') format('woff'),
			url('../font/SpaceMono-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Space Mono Regular';
	src: url('../font/SpaceMono-Regular.woff2') format('woff2'),
			url('../font/SpaceMono-Regular.woff') format('woff'),
			url('../font/SpaceMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* - Mobile: 375px
- Desktop: 1440px */

/* Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens. */

:root {
	/* ### Primary */
	--strong-cyan: hsl(172, 67%, 45%);
	/* ### Neutral */
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(186, 14%, 43%);
	--grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}
/*
	font-family: Space Mono
	Weights: 700
*/
body {
	font-size: 16px;
	font-weight: 700;
	font-family: 'Space Mono Regular', sans-serif;
	background-color: var(--light-grayish-cyan);
	color: var(--dark-grayish-cyan);
}

.show-on-mobile {
	display: contents !important;
}

.show-on-desktop {
	display: none !important;
}

.logo-wrapper {
	margin: 40px auto;
	text-align: center;
}

.calc-wrapper {
	background-color: var(--white);
	border-radius: 20px 20px 0 0;
	padding: 35px;
}

input {
	width: 100%;
	height: 50px;
	background-color: var(--very-light-grayish-cyan);
	border: none !important;
	font-family: 'Space Mono Bold';
	font-size: 25px;
	color: var(--grayish-cyan);
}

.user-total-input-wrapper,
.user-guest-input-wrapper {
	display: flex;
	background-color: var(--very-light-grayish-cyan);
	border-radius: 15px;
}

.user-guest-input-wrapper input::placeholder,
.user-total-input-wrapper input::placeholder {
	text-align: right;
}

.user-guest-input-wrapper input,
.user-total-input-wrapper input {
	border: 1px solid var(--very-light-grayish-cyan) !important;
	outline: none;
	text-align: right;
	padding-right: 30px;
	border-radius: 10px;
}
.user-guest-input-wrapper input:focus,
.user-total-input-wrapper input:focus {
	outline-width: 4px;
	outline-style: solid !important;
	outline-color: var(--light-grayish-cyan) !important;
	border-radius: 10px;
}
.user-guest-input-wrapper:focus,
.user-total-input-wrapper:focus {
	border: 1px solid var(--light-grayish-cyan) !important; 
	outline-style: solid !important;
	outline-color: var(--light-grayish-cyan) !important;
}

.user-total-input-wrapper input {
	background: url(../images/icon-dollar.svg) left / contain no-repeat;
	background-size: 15px;
	background-position: 10px;
}

.user-guest-input-wrapper input {
	background: url(../images/icon-person.svg) left / contain no-repeat;
	background-size: 20px;
	background-position: 10px;
} 

.bill-header {
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-total-input {
	padding-bottom: 40px;
}

.select-percentage-wrapper h3 {
	padding-bottom: 20px;
}

/* Select Tip Buttons */
/* 
five-percent
ten-percent
fifteen-percent
twenty-five-percent
fifty-percent
custom-button 
*/

.button-container {
  display: flex;
  justify-content: space-between;
}

.buttons {
  width: 48%;
  height: 55px;
  margin-bottom: 20px;
  font-size: 25px;
	font-family: 'Space Mono Bold', sans-serif;
  border: none;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 6px;
}

.buttons:hover {
  cursor: pointer;
	background-color: var(--strong-cyan) !important;
	color: var(--very-dark-cyan);
}

.custom-btn-graph {
	background-color: var(--very-light-grayish-cyan);
	color: var(--dark-grayish-cyan);
}

.custom-btn-graph:hover {
	color: var(--white);
}

.user-guest-input {
  padding-top: 20px;
}

.user-guest-input h3 {
  padding-bottom: 10px;
}

.calc-output {
	margin-top: 30px;
	background-color: var(--very-dark-cyan);
	color: var(--white);
	padding: 50px 30px 30px;
	border-radius: 15px;
}

.tip-amount {
	padding-bottom: 40px;
}

.tip-amount,
.total-amount {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title p:nth-child(1),
.total-title p:nth-child(1) {
	color: var(--white);
}

.title p:nth-child(2),
.total-title p:nth-child(2) {
	color: var(--light-grayish-cyan);
	padding-top: 10px;
	font-size: 14px;
}

.tip-amount-output,
.total-amount-output {
	font-size: 33px;
	color: var(--strong-cyan);
}

.calc-reset {
	width: 100%;
	text-align: center;
	background-color: var(--strong-cyan);
	
	border-radius: 15px;
	margin: 30px auto 0;
	padding: 20px 0;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-size: 21px;
	color: var(--very-dark-cyan);
	font-family: 'Space Mono Bold';
	/* z-index: 10; */
}

.calc-reset:hover {
	cursor: pointer;
	background-color: var(--light-grayish-cyan);
}

.reset-wrapper {
	width: 100%;
	/* height: 40px; */
	position: relative;
	/* background-color: hsla(183, 100%, 15%, .9) !important; */
	/* z-index: 1000 !important; */
	/* background-color: #00494d; */
	/* background-color: rgba(0, 73, 77, 1); */
}

@media screen and (min-width: 800px) {

	.show-on-mobile {
		display: none !important;
	}

	.show-on-desktop {
		display: contents !important
	}

	.calc-wrapper {
		display: flex !important;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto !important;
		border-radius: 20px !important;
	}

	.show-on-desktop button {
		width: 31%;
	}

	.desktop-wrapper {
		min-width: 50%; 
		padding: 20px;
	}

	.total-amount {
		position: relative;
		top: 40px;
	}

	.calc-output {
		width: 50%;
		margin-top: -5px;
	}

	.calc-reset {
		margin-top: 220px;
	}
}

@media screen and (min-width: 920px) { 


	.calc-wrapper {
		max-width: 1000px !important;
	}
}